{% extends "layout.html.twig" %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Accueil</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <h1>Liste des produits</h1>

    <div class="row row-cols-3 row-cols-md-3">
        <div class="col mb-4">
            <div class="card">
                <img src="https://www.bagherra.eu/wp-content/uploads/2016/11/orionthemes-placeholder-image-1.png" class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">Nom du produit</h5>
                    <p class="card-text">Description du produit</p>
                    <a href="#" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                        Détails du produit
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}